body {
    background-color: #fff;
    color: #222;
    font-family: arial,sans-serif;
    font-size: small;
}

.TopButtons{
	text-align: right;
}

.main{
	position: fixed;
	top:20%;
	left:30%;
}

nav ul li{
	display: inline-block;
	margin-left: 20px;
}

nav ul li a img{
	vertical-align: middle;
	height: 30px;
	width: 30px;
}

form input{
	width: 500px
}

img{
	vertical-align: middle;
}

.logo{
	margin-left: 100px;
}

.Buttons{
	margin-left: 50px;
}

.SubButtons{
	background-color: #ddd;
	display: inline-block;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 20px;
}

.LeftSubButtons{
	float: left;

}
.RightSubButtons{
	float: right;
}