/*div {background: #AAAAAA;}*/

div div {
	margin: 1px;
}

.newBoard{
		height: 960px;
		width: 960px;
		text-align: center;
}

.cellElement{
	display: inline-block;
	height: 50px;
	width: 50px;
	background: #A4CA39
}

.hovered{
	background: #AAAAAA	
}