/*div {background: #AAAAAA;}*/

div div {
	
}

.newBoard{
		height: 960px;
		width: 960px;
		text-align: center;
		/*border:1px solid #021a40;*/
		background-color:#fff;
}

.cellElement{
	display: inline-block;
	height: 50px;
	width: 50px;
	background: #A4CA39;
}

.rowElement{
	
}

.hovered{
	background: #AAAAAA	
}